<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.set(obj,key,value) & vm.set(obj,key,value)</title>
</head>
<!-- 
  Vue.set(obj,key,value) 给Object或Array添加或修改属性；
  实例也有set方法，且vm.set===Vue.set => true
 -->

<body>
  <div id="app">
    <ul>
      <li v-for="message of list">{{message}}</li>
    </ul>
    <h3 v-for='(value,key,index) of userInfo'>{{index}}. {{key}}, {{value}} </h3>
  </div>
  <script src="./vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        list: ['hey', 'hi', 'hello'],
        userInfo: {
          name: 'Muli',
          age: 26.5,
          gender: 'male'
        }
      },
    })
  </script>
</body>

</html>