<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello world</title>
</head>

<body>
  <script src='./vue.js'></script>
  <div id="app">
    <input type="text" v-model='inputValue'>
    <button v-on:click='handleClick'>Click</button>
    <ul>
      <li v-for='item in list'>{{item}}</li>
    </ul>
  </div>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        inputValue: '',
        list: ['第一课'],
      },
      methods: {
        handleClick: function () {
          this.list.push(this.inputValue);
          this.inputValue = ''
          console.log(this)
        }
      }
    })
  </script>
</body>

</html>