<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello world</title>
</head>

<body>
  <script src="./vue.js"></script>
  <div id="app">
    <input type="text" v-model="inputValue">
    <button v-on:click="handleClick">Add</button>
    <ul>
      <Todo-Item v-bind:content="item" v-for="item in list"></Todo-Item>
    </ul>
  </div>
  <script>
    // Vue.component('TodoItem', {
    //   props: ['content'],
    //   template: `<li>{{content}}</li>`
    // })
    const TodoItem = {
      props: ['content'],
      template: `<li>{{content}}</li>`
    }
    const app = new Vue({
      el: "#app",
      components: { TodoItem },
      data: {
        inputValue: "",
        list: [],
      },
      methods: {
        handleClick: function () {
          this.list.push(this.inputValue);
          this.inputValue = ""
        },
      }
    })

  </script>
</body>

</html>